.cabecalho-pedro-img{
    width: auto;
}
.cabecalho-redes-icone{
    width: 35px;
    font-size: 35px;   
    text-decoration: underline ;
    filter: opacity(75%);
}
.cabecalho-redes-icone:hover{
    width: 45px;
    font-size: 35px;   
    text-decoration: underline ;
    filter: opacity(100%);
}
.cabecalho{
    background-color: black;
    display:flex ;
}
.cabecalho-redes-nome{
    color: rgb(255, 255, 255);
}
.cabecalho-redes-nome:hover{
    font-size: 20px;   
    text-decoration: underline ;
    color: rgb(187, 0, 255);
}
.pedro-icone{
    width: 35px;
    font-size: 35px;   
    text-decoration: underline ;
    filter: opacity(75%);
}
.pedro-icone:hover{
    width: 45px;
    font-size: 35px;   
    text-decoration: underline ;
    filter: opacity(100%);
}
