.pedro-img{
    width: 120px;
}
.cabecalho-redes-icone{
    width: 45px;
}
.cabecalho-redes-icone{
    font-size: 35px;   
    text-decoration: underline ;
    filter: opacity(100%);
}
.cabecalho-redes-icone:hover{
    font-size: 45px;   
    text-decoration: underline ;
    filter: opacity(75%);
}
.cabecalho{
    background-color: black;
}
.cabecalho-redes-nome{
    color: rgb(255, 255, 255);
}